body {
  font-family: 'Segoe UI', sans-serif;
}

header img {
  width: 40px;
}

.img-thumbnail {
  object-fit: cover;
  height: auto;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}
